.company-banner--section {
    width: 100%;
    height: 560px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.company-banner-content {
    display: flex;
    flex-direction: column;

    width: 70%;
}

.company-banner-content h3 {
    color: #fff;

    margin-block-end: 2em;

    font-size: 1.7rem;
    font-weight: 100;

    text-align: left;
    line-height: 1.5;
}

.company-banner-content button {
    padding: 8px 5px;
    width: 130px;

    color: #fff;
    font-weight: bold;

    border: 1px solid #fff;
    border-radius: 30px;

    background: transparent;

    transition: .2s;
    cursor: pointer;
}

.company-banner-content button:hover {
    background-color: #999;

}

/* Article */
.article--row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article-content {
    width: 45%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 60px;
}

.article-content p {
    line-height: 1.5;
}

.row-content-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.row-content {
    width: 46%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.row-content p {
    line-height: 1.5;
}

@media screen and (max-width: 1400px) {

    /* Row */
    .article-content {
        width: 65%;
    }
}

@media screen and (max-width: 1024px) {
    .company-banner--section {
        height: 500px;
    }
}



@media screen and (max-width: 768px) {

    /* Banner */
    .company-banner--section {
        height: 400px;
    }

    .company-banner-content {
        width: 80%;
    }

    .company-banner-content h3 {
        font-size: 1.2rem;

    }

    /* Row */
    .row-content {
        width: 45%;
    }

}

@media screen and (max-width: 765px) {

    /* Row */
    .article-content {
        width: 96%;
    }

    .row-content {
        width: 100%;
        padding: 0;
    }

}